<div class="container tab1-color-background">
    <h3 class="title-tab1">Hotel<strong> Mieres del Camín Apartamentos</strong>
      <span class="stars-tab1" *ngFor="let star of stars">
        <img [src]='star.path' alt="">
      </span>
    </h3>

    <div class="row">
        <div class="col" *ngFor="let regimen of regimenes; let i = index" >
            <div class="card">
              <div class="card-block title-tab1">
                  <h6 class="card-title"><strong>{{ regimen.title }}</strong></h6>
              </div>
              <hr>
              <div class="card-body">
                <ul *ngFor="let option of regimen.options">
                  <li class="card-text"><small class="text-muted">{{ option }}</small></li>
                </ul>
                <button (click)="verRegimen(regimen)"
                  type="button"
                  data-toggle="modal"
                  class="btn btn-outline-primary btn-block"
                  data-target="#exampleModal">
                  Elegir régimen
                </button>
              </div>
            </div>
        </div>
     </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
